# Tsung results

{{ notes }}

## Test Settings

DURATION = {{ duration }}
USER ARRIVAL RATE = {{ user_rate }}

## Session weightings
{% for session, prob in test_run.session_probabilities.iteritems() %}
{% if prob > 0 %}
* {{ session }}: {{ prob }}
{% endif %}
{% endfor %}

## Phases
{% for phase in test_run.phases %}
* {{ phase.user_arrival_rate }} users per second for {{ phase.duration }}s
{% endfor %}
