<?xml version="1.0"?>
<!DOCTYPE tsung SYSTEM "{{ dtd_path }}" []>
<tsung loglevel="info">
    <clients>
        <client host="localhost" use_controller_vm="false" maxusers="30000" cpu="4"/>
    </clients>

    <servers>
        <server host="{{ host }}" port="{{ port }}" type="{{ server_type }}" />
    </servers>

    <load>
        {% for phase in phases %}
        <arrivalphase phase="{{ loop.index }}" duration="{{ phase.duration }}" unit="second">
            <users arrivalrate="{{ phase.user_arrival_rate}}" unit="second" />
        </arrivalphase>
        {% endfor %}
    </load>

    <options>
        <option name="thinktime" value="3" random="true" />
        <option name="connect_timeout" value="10000" />
        <option name="retry_timeout" value="500" />
        <option name="tcp_reuseaddr" value="true" />
        <option name="ip_transparent" value="true" />
        <option name="file_server" id="casedb" value="{{ casedb }}" />
        <option name="file_server" id="userdb" value="{{ userdb }}" />
        <option name="file_server" id="app_resources" value="{{ app_resources }}" />
    </options>

    <sessions>

        {% if session_probabilities.auth > 0 %}
        <session probability="{{ session_probabilities.auth }}" name="auth" type="ts_http">

            <setdynvars sourcetype="file" fileid="userdb" delimiter="," order="random">
                <var name="user_id" />
                <var name="username" />
                <var name="password" />
            </setdynvars>

            <transaction name="sso_auth">
                <request subst="true">
                    <http
                        url="{{ sso_auth_url }}"
                        method="POST"
                        version="1.1"
                        contents="username=%%_username%%&amp;password=%%_password%%"
                    >
                    </http>
                </request>
            </transaction>
        </session>
        {% endif %}

        {% if session_probabilities.simple_form > 0 %}
        <session probability="{{ session_probabilities.simple_form }}" name="form-submission-simple" type="ts_http">

            <setdynvars sourcetype="file" fileid="userdb" delimiter="," order="random">
                <var name="user_id" />
                <var name="username" />
                <var name="password" />
            </setdynvars>

            <setdynvars sourcetype="eval"
                    code="fun({Pid,DynVars})->
                              uuid:random_str() end.">
              <var name="form_instance_id" />
            </setdynvars>

            <transaction name="submit_simple_form">
                <request subst="true">
                    <http
                        url="{{ submission_url }}"
                        method="POST"
                        version="1.1"
                        contents_from_file="{{ simple_submission }}"
                    >
                        {% if do_auth %}
                        <www_authenticate userid="%%_username%%" passwd="%%_password%%"/>
                        {% endif %}
                        <http_header name="Content-Type" value="application/xml"/>
                    </http>
                </request>
            </transaction>
        </session>
        {% endif %}

        {% if session_probabilities.create_case > 0 %}
        <session probability="{{ session_probabilities.create_case }}" name="form-submission-new-case" type="ts_http">

            <setdynvars sourcetype="file" fileid="userdb" delimiter="," order="random">
                <var name="user_id" />
                <var name="username" />
                <var name="password" />
            </setdynvars>

            <setdynvars sourcetype="eval"
                    code="fun({Pid,DynVars})->
                              uuid:random_str() end.">
              <var name="case_id" />
            </setdynvars>

            <setdynvars sourcetype="eval"
                    code="fun({Pid,DynVars})->
                              uuid:random_str() end.">
              <var name="form_instance_id" />
            </setdynvars>

            <transaction name="submit_case_creation_form">
                <request subst="true">
                    <http
                        url="{{ submission_url }}"
                        method="POST"
                        version="1.1"
                        contents_from_file="{{ create_submission }}"
                    >
                        {% if do_auth %}
                        <www_authenticate userid="%%_username%%" passwd="%%_password%%"/>
                        {% endif %}
                        <http_header name="Content-Type" value="application/xml"/>
                    </http>
                </request>
            </transaction>
        </session>
        {% endif %}

        {% if session_probabilities.update_case > 0 %}
        <session probability="{{ session_probabilities.update_case }}" name="form-submission-update-case" type="ts_http">

            <setdynvars sourcetype="file" fileid="userdb" delimiter="," order="random">
                <var name="user_id" />
                <var name="username" />
                <var name="password" />
            </setdynvars>

            <setdynvars sourcetype="file" fileid="casedb" delimiter="," order="random">
                <var name="case_id" />
            </setdynvars>

            <setdynvars sourcetype="eval"
                    code="fun({Pid,DynVars})->
                              uuid:random_str() end.">
              <var name="form_instance_id" />
            </setdynvars>

            <transaction name="submit_case_update_form">
                <request subst="true">
                    <http
                        url="{{ submission_url }}"
                        method="POST"
                        version="1.1"
                        contents_from_file="{{ update_submission }}"
                    >
                        {% if do_auth %}
                        <www_authenticate userid="%%_username%%" passwd="%%_password%%"/>
                        {% endif %}
                        <http_header name="Content-Type" value="application/xml"/>
                    </http>
                </request>
            </transaction>
        </session>
        {% endif %}

        {% if session_probabilities.restore > 0 %}
        <session probability="{{ session_probabilities.restore }}" name="restore-session" type="ts_http">

            <setdynvars sourcetype="file" fileid="userdb" delimiter="," order="random">
                <var name="user_id" />
                <var name="username" />
                <var name="password" />
            </setdynvars>

            <!-- do a sync -->
            <transaction name="restore">
                <request subst="true">
                    <http url="{{ restore_url }}?version=2.0&amp;items=true&amp;user_id=%%_user_id%%"
                          method="GET"
                          version="1.1"
                    >
                        {% if do_auth %}
                        <www_authenticate userid="%%_username%%" passwd="%%_password%%"/>
                        {% endif %}
                        <http_header name="Content-Type" value="application/xml"/>
                    </http>
                </request>
            </transaction>

        </session>
        {% endif %}

        {% if session_probabilities.app_resource > 0 %}
        <session probability="{{ session_probabilities.app_resource }}" name="app_resource-session" type="ts_http">

            <setdynvars sourcetype="file" fileid="app_resources" delimiter="," order="random">
                <var name="resource_url" />
            </setdynvars>

            <transaction name="download_app_resource">
                <request subst="true">
                    <http url="%%_resource_url%%"
                          method="GET"
                          version="1.1"
                    >
                    </http>
                </request>
            </transaction>

        </session>
        {% endif %}

    </sessions>
</tsung>
